<%- include("partials/header"); -%>

<h1>Hello !!</h1>
<p><%= value %></p>

  <% for (var i = 0; i < datas.length; i++) { %>
     <h2><%= datas[i].title %></h2>
     <p>
       <%= datas[i].content.substring(0, 100) %> ...
      <a href="/posts/<%= datas[i].title %>">Read more</a>
     </p>
  <% } %>
<!-- instead of a for loop we can also use the forEach() function
    datas.forEach(function (data) {
      data.title;
      data.content;
    });-->

<%- include("partials/footer"); -%>
